
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1{
    text-align: center;
    padding: 20px;
    margin-bottom: 2opx;
    color: #333;
}

.biodata {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

strong {
    color: #555;
}
